<h1>Clock</h1>
<h2>Local Time: {{localTime}}</h2>
<table>
  {{#each model.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{this.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{#link-to 'clock.edit' model}}Change{{/link-to}}

{{outlet}}
